@model Resturant.ViewModels.MasterItemMenuModel

@{
    ViewData["Title"] = "Create";
}

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <a class="breadcrumb-item" asp-action="Index" asp-controller="MasterItemMenu">Master Item Menu</a>
            <a class="breadcrumb-item active" asp-action="Create" asp-controller="MasterItemMenu">Create</a>
        </ol>
    </nav>
</div>
<div class="card">
    <div class="card-body">
        <form asp-action="Create" class="mt-3" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-3">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="MasterItemMenuTitle" class="control-label"></label>
                        <input asp-for="MasterItemMenuTitle" class="form-control" />
                        <span asp-validation-for="MasterItemMenuTitle" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="MasterCategoryMenuId" class="control-label"></label>
                        <select asp-for="MasterCategoryMenuId" asp-items="@(new SelectList(Model.ListCategory,"MasterCategoryMenuId","MasterCategoryMenuName"))" class="form-control form-select">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="MasterItemMenuBreef" class="control-label"></label>
                        <textarea asp-for="MasterItemMenuBreef" class="form-control" maxlength="250"></textarea>
                        <span asp-validation-for="MasterItemMenuBreef" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="MasterItemMenuDesc" class="control-label"></label>
                        <textarea asp-for="MasterItemMenuDesc" class="form-control" maxlength="250"></textarea>
                        <span asp-validation-for="MasterItemMenuDesc" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="MasterItemMenuPrice" class="control-label"></label>
                        <input asp-for="MasterItemMenuPrice" class="form-control" />
                        <span asp-validation-for="MasterItemMenuPrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="MasterItemMenuDate" class="control-label"></label>
                        <input asp-for="MasterItemMenuDate" class="form-control" />
                        <span asp-validation-for="MasterItemMenuDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MasterItemMenuImageUrl" class="control-label"></label>
                <input asp-for="File" type="file" class="form-control" />
                <span asp-validation-for="MasterItemMenuImageUrl" class="text-danger"></span>
            </div>
            <div class="text-end">
                <a asp-action="Index" class="btn btn-success">Back to List</a>

                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



