@model Resturant.ViewModels.TransactionNewsletterModel

@{
    ViewData["Title"] = "Edit";
}

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"> Home</a></li>
            <a class="breadcrumb-item" asp-action="Index" asp-controller="TransactionNewsletter">Transaction Newsletter</a>
            <a class="breadcrumb-item active" asp-action="Edit" asp-controller="TransactionNewsletter">Edit</a>
        </ol>
    </nav>
</div>
<div class="card">
    <div class="card-body">
        <div class="col-md-12">
            <form asp-action="Edit" class="row g-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TransactionNewsletterId" />
                <div class="form-group">
                    <label asp-for="TransactionNewsletterEmail" class="control-label mt-3"></label>
                    <input asp-for="TransactionNewsletterEmail" class="form-control" />
                    <span asp-validation-for="TransactionNewsletterEmail" class="text-danger"></span>
                </div>

                <div class="text-end ">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>



