@model Resturant.ViewModels.MasterMenuModel

@{
    ViewData["Title"] = "Edit";
}

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <a class="breadcrumb-item" asp-action="Index" asp-controller="MasterMenu">Master Menu</a>
            <a class="breadcrumb-item active" asp-action="Edit" asp-controller="MasterMenu">Edit</a>
        </ol>
    </nav>
</div>
<div class="card">
    <div class="card-body">
        <div class="col-md-12">
            <form asp-action="Edit" class="mt-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="MasterMenuId" />
                <div class="row mb-3">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="MasterMenuName" class="control-label"></label>
                            <input asp-for="MasterMenuName" class="form-control" />
                            <span asp-validation-for="MasterMenuName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="MasterMenuUrl" class="control-label"></label>
                            <input asp-for="MasterMenuUrl" class="form-control" />
                            <span asp-validation-for="MasterMenuUrl" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="text-end">
                    <a asp-action="Index" class="btn btn-success">Back to List</a>

                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>

            </form>
        </div>
       
    </div>
</div>




