@model Resturant.ViewModels.MasterContactUsInformationModel

@{
    ViewData["Title"] = "Create";
}

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <a class="breadcrumb-item" asp-action="Index" asp-controller="MasterContactUsInformation">ContactUs Information</a>
            <a class="breadcrumb-item active" asp-action="Create" asp-controller="MasterContactUsInformation">Create</a>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-body">
        <div class="col-md-12">
            <form asp-action="Create" class="mt-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row mb-3">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="MasterContactUsInformationImageUrl" class="control-label"></label>
                            <input asp-for="MasterContactUsInformationImageUrl" class="form-control" />
                            <span asp-validation-for="MasterContactUsInformationImageUrl" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group ">
                            <label asp-for="MasterContactUsInformationRedirect" class="control-label"></label>
                            <input asp-for="MasterContactUsInformationRedirect" class="form-control" />
                            <span asp-validation-for="MasterContactUsInformationRedirect" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="MasterContactUsInformationIdesc" class="control-label"></label>
                    <textarea asp-for="MasterContactUsInformationIdesc" class="form-control" maxlength="250"></textarea>
                    <span asp-validation-for="MasterContactUsInformationIdesc" class="text-danger"></span>
                </div>
                <div class="text-end">
                    <a asp-action="Index" class="btn btn-success">Back to List</a>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>

    </div>
</div>




